[Unit]
Description = Network Performance Monitor Dashboard Application
PartOf = netperf-dashboard.target
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/netperf/dashboard-flask.pid
User = pi
Group = pi
WorkingDirectory = /opt/netperf/dashboard/application
ExecStartPre = /bin/mkdir -p /run/netperf
ExecStartPre = /bin/chown -R pi:pi /run/netperf
ExecStart = /usr/bin/env gunicorn3 dashboard:app --timeout 30 -w 1 --threads 6 -b 0.0.0.0:8000 --pid /run/netperf/netperf-dashboard.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
PrivateTmp = true

[Install]
WantedBy = multi-user.target
