[Unit]
Description=Network Performance Monitor Dashboard Services
Requires=netperf-storage.service dashboard-flask.service dashboard-celery.service
After=netperf-storage.service netperf-interfaces.service

[Install]
WantedBy=multi-user.target
