[Unit]
Description = Network Performance Monitor Interface Configuration
After = netperf-storage.service

[Service]
Type=forking
ExecStart = /usr/bin/python3 /opt/netperf/configure_interfaces.py
ExecStartPost = /usr/bin/bash -c 'systemctl restart nginx.service'

[Install]
WantedBy = multi-user.target
