[Unit]
Description = Network Performance Monitor Database
After = netperf-storage.service

[Service]
PermissionsStartOnly = true
PIDFile = /run/netperf/netperf-db.pid
User = netperf
Group = netperf
WorkingDirectory = /opt/netperf
ExecStart = /usr/bin/python3 /opt/netperf/netperf_db.py
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
PrivateTmp = true

[Install]
WantedBy = multi-user.target
